body {
  overflow: auto !important;
}

.directory-section {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  scroll-snap-align: start;
  overflow: visible; /* Changed from hidden */
}

.directory-heading {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.directory-heading h1 {
  font-size: 36px;
  font-weight: 700;
}

.directory-heading h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 6px;
  padding-bottom: 40px;
}

.directory-left {
  width: 50%;
  padding: 30px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.side-icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #CD9E3C;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.active-icon {
  background: linear-gradient(90deg, #CD9E3C 0%, #BD8A2D 100%);
  transform: scale(1.2);
}

.icon-img {
  width: 15px;
  height: auto;
}

.directory-content {
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  scrollbar-width: none;
}

.directory-content::-webkit-scrollbar {
  display: none;
}

.directory-title {
  font-weight: bold;
  font-size: 20px;
}

.directory-price {
  font-size: 16px;
  color: #CD9E3C;
  margin-top: 4px;
}

.directory-text {
  font-size: 14px;
  margin-top: 10px;
  white-space: pre-line;
}

.join-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.directory-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.image-carousel-container {
  width: 100%;
  max-width: 640px;
  height: 500px;
  overflow: hidden;
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}

.image-carousel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.image-carousel::-webkit-scrollbar {
  display: none;
}

.carousel-image-wrapper {
  scroll-snap-align: center;
  width: 100%;
  height: 500px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
