
.coming-soon1 {
  font-family: 'Poppins';
  font-size: 12.96px;
  font-weight: 700;
  color: white;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
.flipClock:hover .flipUnitContainer1{
     width: clamp(45px, 14vw, 65px);
  height: 55px;
}


.flipUnitContainer1 {
  display: block;
  position: relative;
  perspective-origin: 50% 50%;
  perspective: 300px;
  background: linear-gradient(to bottom, #E4C658 0%, #9E6A17 100%);
  border-radius: 3px;
width: clamp(40px, 10vw, 60px);
  height: 48px;
  border-radius: 4.57px;
  opacity: 1;
  flex-shrink: 0;
  flex-grow: 0;
}

.upperCard1,
.lowerCard1 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom, #E4C658 0%, #9E6A17 100%);
  border-radius: 4.57px !important;
}

.upperCard1 span,
.lowerCard1 span {
  font-family: 'Share Tech';
  font-weight: 400;
  font-style: Regular;
  font-size: 44.02px;
  line-height: 100%;
  letter-spacing: -8.5%;
  text-align: right;
  color: whitesmoke;
}

.upperCard1 {
  align-items: flex-end;
  border-top-left-radius: 4.57px;
  border-top-right-radius: 4.57px;
  border-bottom: 1px solid #24475B !important;
}

.upperCard1 span {
  transform: translateY(50%);
}

.lowerCard1 {
  align-items: flex-start;
  border-top: 1px solid #24475B !important;
  border-bottom-left-radius: 4.57px;
  border-bottom-right-radius: 4.57px;
  border-bottom: 2px solid #E2C457 !important;
  background: linear-gradient(to bottom, #E4C658 0%, #9E6A17 100%) !important;
}

.lowerCard1 span {
  transform: translateY(-50%);
}

.flipCard1 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}

.flipCard1 span {
  font-family: 'Share Tech';
  font-weight: 400;
  font-style: Regular;
  font-size: 44.02px;
  line-height: 100%;
  letter-spacing: -8.5%;
  text-align: right;
  color: whitesmoke;
}

.flipCard1.unfold1 {
  top: 50%;
  align-items: flex-start;
  transform-origin: 50% 0%;
  transform: rotateX(180deg);
  border: 2px solid transparent;
  border-radius: 4.57px;
  border-top: 1px solid #24475B;
  background: linear-gradient(to bottom, #E4C658 0%, #9E6A17 100%);
}

.flipCard1.unfold1 span {
  transform: translateY(-50%);
}

.flipUnitContainer1::before,
.flipUnitContainer1::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #24475B;
  border-radius: 50%;
  z-index: 10;
}

.flipUnitContainer1::before {
  left: -6px;
}

.flipUnitContainer1::after {
  right: -6px;
}

.flipCard1.fold1 {
  top: 0%;
  align-items: flex-end;
  transform-origin: 50% 100%;
  transform: rotateX(0deg);
  background: linear-gradient(to bottom, #E4C658 0%, #9E6A17 100%);
  border-top-left-radius: 4.57px;
  border-top-right-radius: 4.57px;
  border-bottom: 1px solid #24475B;
  z-index: 2;
}

.flipCard1.fold1 span {
  transform: translateY(50%);
}

.fold1 {
  animation: fold1 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
  -webkit-animation: fold1 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
  transform-style: preserve-3d;
}

.unfold1 {
  animation: unfold1 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
  -webkit-animation: unfold1 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s 1 normal forwards;
  transform-style: preserve-3d;
}

@keyframes fold1 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@-webkit-keyframes fold1 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes unfold1 {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes unfold1 {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.flipUnitWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.colon1 {
  position: absolute;
  right: -15px;
  top: 9%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  pointer-events: none;
}

.unitLabel1 {
  margin-top: 6px;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: 0.5px;
  font-family: 'Poppins';
  font-weight: 400;
  font-style: Regular;
  font-size: 11.76px;
  line-height: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}

.flipUnitContainer1 .lowerCard1 {
  height: 50% !important;
  background: linear-gradient(to bottom, #E4C658 0%, #9E6A17 100%) !important;
  border-bottom: 2px solid #E2C457 !important;
  border-top: 1px solid #24475B !important;
}

.lowerCard1 {
  border-top: none !important;
  border-bottom: 2px solid #E2C457 !important;
}

.upperCard1 {
  left: 0 !important;
  transform: translateZ(0) !important;
  will-change: transform !important;
}
@media (max-width: 768px) {
  .coming-soon1 {
    display: none !important;
  }
  .flipUnitContainer1{
     display: none !important;
  
  }
}

@media (max-width: 768px) {
  .coming-soon1,
  .flipUnitContainer1,
  .flipUnitWrapper1,
  .flipCard1,
  .upperCard1,
  .lowerCard1,
  .colon1,
  .unitLabel1 {
    display: none !important;
  }
}
